@model Usuario

@{
    ViewBag.Title = "Login";
    Layout = null;
}

<div class="container">
    <h2>Cadastro</h2>
    <form asp-controller="Usuario" asp-action="Registrar" method="post" id="registerForm">
        <div class="input-group">
            <label asp-for="Nome" for="name">Nome</label>
            <input asp-for="Nome" type="text" id="name">
        </div>
        <div class="input-group">
            <label asp-for="Email" for="email">E-mail</label>
            <input asp-for="Email" type="email" id="email">
        </div>
        <div class="input-group">
            <label asp-for="Senha" for="password">Senha</label>
            <input asp-for="Senha" type="password" id="password">
        </div>
        <button type="submit">Cadastrar</button>
        <p>Já possui uma conta? <a asp-controller="Usuario" asp-action="Login">Login</a></p>
    </form>
</div>

<link rel="stylesheet" href="/css/Registrar.css">

